.welcome-screen {
  min-height: 100vh;
}
@media (max-width: 767px) {
  .welcome-screen {
    min-height: 50vh;
  }
}
@media (max-width: 991px) {
  .welcome-screen {
    min-height: 70vh;
  }
}
.downicon {
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--secondcolor);
  animation: godown 0.5s infinite alternate-reverse;
}
@media (max-width: 991px) {
  .downicon {
    display: none !important;
  }
}
.btn-group .btn-get {
  transition: 0.3s !important;
}

.welcome-screen {
  overflow: hidden;
  height: 100vh;
}

.logowelcomepage img {
  width: 200px;
  margin: 3% 0px 40px 40px;
}
.welcome-screen .welcome-content .row > div:not(:last-of-type) {
  margin-top: 1%;
}
.welcome-screen .welcome-content .row > div .social i {
  cursor: pointer;
}
.heart {
  animation: animate 2s infinite alternate-reverse;
}
.btn-group .btn {
  background: var(--secondcolor);
  font-size: 22px;
  flex: 0.3 1 auto !important;
}
.btn-group .btn:hover {
  letter-spacing: 1.5px;
}
a.services {
  z-index: 150;
}
.welcome-btn{
  background: var(--main-gredient) !important;
}
.content-text h1{
  color: var(--main-text);
}
/* .btn-services {
  display: none !important;
} */
@media (max-width: 991px) {
  .welcome-btn{
    font-size: 18px;
    width: 180px;
    height: 65px;
    margin-top: 20px;
  }
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle),.btn-group>:not(.btn-check)+.btn{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important}
